SBSAT/*
!SBSAT/folds_metadata
!SBSAT/stimuli
!SBSAT/labels
CopCo/*
!CopCo/folds_metadata
!CopCo/labels
OneStop/*
!OneStop/folds_metadata
!OneStop/additional_raw
EMTeC/*
!EMTeC/folds_metadata
PoTeC/*
!PoTeC/folds_metadata
MECOL1W1/*
!MECOL1W1/folds_metadata
MECOL2W1/*
!MECOL2W1/folds_metadata
MECOL2W2/*
!MECOL2W2/folds_metadata
MECOL2/*
!MECOL2/folds_metadata
IITBHGC/*
!IITBHGC/folds_metadata
OneStopL2/*
!OneStopL2/folds_metadata
!OneStopL2/additional_raw

MECOL1/*
!MECOL1/folds_metadata
!MECOL1/additional_raw

cache