SBSAT/*
!SBSAT/folds_metadata
!SBSAT/stimuli
!SBSAT/labels
CopCo/*
!CopCo/folds_metadata
!CopCo/labels
OneStop/*
!OneStop/folds_metadata
!OneStop/additional_raw
EMTeC/*
!EMTeC/folds_metadata
PoTeC/*
!PoTeC/folds_metadata
MECOL1W1/*
!MECOL1W1/folds_metadata
MECOL2W1/*
!MECOL2W1/folds_metadata
MECOL2W2/*
!MECOL2W2/folds_metadata
MECOL2/*
!MECOL2/folds_metadata
IITBHGC/*
!IITBHGC/folds_metadata
OneStopL2/*
!OneStopL2/folds_metadata
!OneStopL2/additional_raw

OneStopL1L2_ORD_ALL/*
!OneStopL1L2_ORD_ALL/folds_metadata
!OneStopL1L2_ORD_ALL/additional_raw
OneStopL1L2_ORD_HUNT/*
!OneStopL1L2_ORD_HUNT/folds_metadata
!OneStopL1L2_ORD_HUNT/additional_raw
OneStopL1L2_ORD_GATH/*
!OneStopL1L2_ORD_GATH/folds_metadata
!OneStopL1L2_ORD_GATH/additional_raw
OneStopL1L2_REP_ALL/*
!OneStopL1L2_REP_ALL/folds_metadata
!OneStopL1L2_REP_ALL/additional_raw
OneStopL1L2_REP_HUNT/*
!OneStopL1L2_REP_HUNT/folds_metadata
!OneStopL1L2_REP_HUNT/additional_raw
OneStopL1L2_REP_GATH/*
!OneStopL1L2_REP_GATH/folds_metadata
!OneStopL1L2_REP_GATH/additional_raw
OneStopL2_ORD_ALL/*
!OneStopL2_ORD_ALL/folds_metadata
!OneStopL2_ORD_ALL/additional_raw
OneStopL2_ORD_HUNT/*
!OneStopL2_ORD_HUNT/folds_metadata
!OneStopL2_ORD_HUNT/additional_raw
OneStopL2_ORD_GATH/*
!OneStopL2_ORD_GATH/folds_metadata
!OneStopL2_ORD_GATH/additional_raw
OneStopL2_REP_ALL/*
!OneStopL2_REP_ALL/folds_metadata
!OneStopL2_REP_ALL/additional_raw
OneStopL2_REP_HUNT/*
!OneStopL2_REP_HUNT/folds_metadata
!OneStopL2_REP_HUNT/additional_raw
OneStopL2_REP_GATH/*
!OneStopL2_REP_GATH/folds_metadata
!OneStopL2_REP_GATH/additional_raw

MECOL1/*
!MECOL1/folds_metadata
!MECOL1/additional_raw

cache